---
import ButtonLink from "../../../components/ButtonLink.astro";
import TablePagination from "../../../components/TablePagination.astro";
import {
  FileTypeEnum,
  type TableHeadersType,
  type TablePaginationType,
} from "../../../types/types";
import { downloadJobFile, getJobs } from "../api/receiptApi";
import type { TableReceiptsRowsType } from "../types/receiptTypes";

const page = Number(Astro.url.searchParams.get("page") ?? "1");
const pageSize = Number(Astro.url.searchParams.get("page_size") ?? "20");
const sortBy = String(Astro.url.searchParams.get("sort_by") ?? "uploaded_at");
const order = String(Astro.url.searchParams.get("order") ?? "desc");

const url = `?page=${page}&page_size=${pageSize}&sort_by=${sortBy}&order=${order}`;

const result = await getJobs(Astro, url);
console.log("result", result?.data?.items);

const {
  total_pages,
  page: current_page,
  page_size,
  items,
} = result?.data ?? {
  total_pages: 0,
  page: 1,
  page_size: 20,
  items: [],
};

const caption = "List of all receipts scanned and uploaded";
const headers: TableHeadersType = [
  "",
  "Date uploaded",
  "Device Id",
  "Number of receipts",
  "Total amount (€)",
  "Source",
  "",
  "",
];
const rows: TableReceiptsRowsType[] = items;
console.log("rows", rows);

const pagination: TablePaginationType = { total_pages, page_size, current_page };
---

<div>
  <table>
    <div class="table-header">
      {caption ? <caption>{caption}</caption> : null}
      <ButtonLink
        href={"/receipts/upload"}
        text="Click here to upload receipts manually"
        style="secondary"
      />
    </div>
    <thead>
      <tr>
        {headers?.map((header) => <th scope="col">{header}</th>)}
      </tr>
    </thead>
    <tbody>
      {
        rows?.map((row, index) => (
          <tr>
            <td>{(current_page - 1) * page_size + index + 1}</td>
            <td>{new Date(row.uploaded_at).toLocaleString()}</td>
            <td>{row.device_id ? row.device_id.slice(0, 8) : "N/A"}</td>
            <td>{row.image_count}</td>
            <td>{row.total_amount.toFixed(2)}</td>
            <td>{row.source}</td>
            <td>
              <ButtonLink
                style="secondary"
                href={downloadJobFile(row.id, FileTypeEnum.PDF)}
                text="Download PDF"
              />
            </td>
            <td>
              <ButtonLink
                style="secondary"
                href={downloadJobFile(row.id, FileTypeEnum.CSV)}
                text="Download CSV"
              />
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
  {pagination ? <TablePagination pagination={pagination} /> : null}
</div>

<style>
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1rem;
  }

  caption,
  thead {
    text-align: left;
    font-weight: 600;
  }

  .table-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  tr {
    /* outline: var(--border); */
    box-shadow: var(--box-shadow);
  }

  tr:has(td):hover,
  tr:has(a:focus-visible) {
    background-color: light-dark(var(--bg-tertiary), var(--bg-secondary));
  }

  th,
  td {
    padding: 0.5rem 1rem;
    text-align: left;
  }
</style>
