---
import ButtonLink from "../../components/ButtonLink.astro";
import { getDevices } from "../../features/devices/api/deviceApi";
import CardDeviceList from "../../features/devices/components/CardDeviceList.astro";
import Layout from "../../layouts/Layout.astro";

export const prerender = false;

const page = Number(Astro.url.searchParams.get("page") ?? "1");
const pageSize = Number(Astro.url.searchParams.get("page_size") ?? "20");
const sortBy = String(Astro.url.searchParams.get("sort_by") ?? "uploaded_at");
const order = String(Astro.url.searchParams.get("order") ?? "desc");

const url = `?page=${page}&page_size=${pageSize}&sort_by=${sortBy}&order=${order}`;

const result = await getDevices(Astro, url);
console.log("GET", result);
---

<Layout title="Devices">
  <h1>Devices</h1>
  <ButtonLink style="secondary" href="/devices/add-device" text="Add new device" />
  {
    !result.data?.total ? (
      <div>
        <p>There are no devices available</p>
      </div>
    ) : (
      <CardDeviceList cardList={result.data?.items} />
    )
  }
  <!-- <Section title="Device 1">
    Status: Connected Connection: Stable Error: None ------ Experiencing issues? Restart device or
    Test Connection Serial number: Model: Software version: IP address:
  </Section>
  <Section title="Device 2">
    Status: Connected Connection: Unstable Error: No connection available ------ Experiencing
    issues? Restart device or Test Connection Serial number: Model: Software version: IP address:
    Warning: Low battery
  </Section> -->
</Layout>
