---
import ButtonLink from "../../components/ButtonLink.astro";
import Table from "../../components/Table.astro";
import { getDevices } from "../../features/devices/api/deviceApi";
import Layout from "../../layouts/Layout.astro";
import type { TableHeadersType } from "../../types/types";

export const prerender = false;

const page = Number(Astro.url.searchParams.get("page") ?? "1");
const pageSize = Number(Astro.url.searchParams.get("page_size") ?? "20");
const sortBy = String(Astro.url.searchParams.get("sort_by") ?? "uploaded_at");
const order = String(Astro.url.searchParams.get("order") ?? "desc");

const url = `?page=${page}&page_size=${pageSize}&sort_by=${sortBy}&order=${order}`;

const result = await getDevices(Astro, url);

const caption = "List of all your devices";

const headers: TableHeadersType = [
  { id: "id", headers: null, title: "" },
  { id: "name", headers: null, title: "Name" },
  { id: "id", headers: null, title: "Device ID" },
  { id: "mac", headers: null, title: "Mac address" },
  { id: "ip", headers: null, title: "IP address" },
  { id: "created_at", headers: null, title: "Date added" },
  { id: "status", headers: null, title: "Status" },
  { id: "go_to", headers: null, title: "" },
];
console.log("GET", result);
---

<Layout title="Devices">
  <h1>Devices</h1>

  <ButtonLink style="secondary" href="/devices/add" text="Click here to add new device" />
  <Table caption={caption} headers={headers} result={result} />
  <!-- {
    !result.data?.total_pages ? (
      <div>
        <p>There are no devices available</p>
      </div>
    ) : (
      <CardDeviceList cardList={result.data?.items} />
    )
  } -->
  <!-- <Section title="Device 1">
    Status: Connected Connection: Stable Error: None ------ Experiencing issues? Restart device or
    Test Connection Serial number: Model: Software version: IP address:
  </Section>
  <Section title="Device 2">
    Status: Connected Connection: Unstable Error: No connection available ------ Experiencing
    issues? Restart device or Test Connection Serial number: Model: Software version: IP address:
    Warning: Low battery
  </Section> -->
</Layout>
